<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{% block content_head %}
		<title>Aldhanekaa Search Engine</title>
	{% endblock content_head %}

</head>
<body>

	{% block content_main %}
	hello there
	{% endblock content_main %}

</body>
</html>